@font-face {
    font-family: "Rubik";
    src: url(../Rubik.ttf);
}

body,
html {
    background-color: #1d1d25;
    color: whitesmoke;
    font-family: "Rubik";
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    width: 100vw;
    padding: 8px;
    margin: 0;
    gap: 16px;
    box-sizing: border-box;
}

#sidebar {
    border-right: rgba(255, 255, 255, 0.1) solid 1px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#content {
    min-height: 0; /* Allows the grid item to shrink below its minimum content size */
    height: 100%;
    overflow-y: auto; /* Enables scrolling for standard pages, while allowing embed builder to fit */
    box-sizing: border-box;
}

#serverInfo {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    color: whitesmoke;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

#serverInfo > img {
    background-color: rgba(255, 255, 255, 0.05);
    color: whitesmoke;
    border-radius: 16px;
    padding: 8px;
}

.sidebar_item {
    background-color: rgba(255, 255, 255, 0.05);
    color: whitesmoke;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
    font-family: "Rubik";
}

.sidebar_item.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-left: #7171d3 4px solid;
}

.sidebar_item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-left: #767691 4px solid;
}