@font-face {
    font-family: "Rubik";
    src: url(../Rubik.ttf);
}

body,
html {
    background-color: #1d1d25;
    color: whitesmoke;
    font-family: "Rubik";
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    padding: 8px;
    margin: 0;
    gap: 16px;
    box-sizing: border-box;
}

.hero {
    text-align: center;
}

.hero > h1 {
    font-size: 48px;
    margin: 0;
}

.hero > .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.hero > .buttons > a > button {
    background-color: rgba(255, 255, 255, 0.05);
    color: whitesmoke;
    border: #3b3b68 1px solid;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
}
